<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>727294154057-03v5aqbbafvgvgfgg5depapf94hafsfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727294154057-03v5aqbbafvgvgfgg5depapf94hafsfr</string>
	<key>API_KEY</key>
	<string>AIzaSyA2XRa0sX9YLRuQ4t3gSaSHXz4WC5U_1YI</string>
	<key>GCM_SENDER_ID</key>
	<string>727294154057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>1374806094</string>
	<key>PROJECT_ID</key>
	<string>picturebook-bc535</string>
	<key>STORAGE_BUCKET</key>
	<string>picturebook-bc535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727294154057:ios:a745e3479e4b1c9b</string>
	<key>DATABASE_URL</key>
	<string>https://picturebook-bc535.firebaseio.com</string>
</dict>
</plist>